.body{
  background-color: hsl(216, 12%, 8%);
}

body{
  background-color: hsl(216, 12%, 8%);
}

.holder {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 500px;
  position: relative;
}

.container {
  height: 500px;
  max-width: 500px;
  width: 100%;
  background-color: hsl(213, 19%, 18%);
  border-radius: 10%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 5%;
}

.container h1 {
  font-size: 50px;
  color: white;
  padding-left: 25px;
  font-family: "Overpass", sans-serif;
  position:relative;
  top:10%;
}

.container h2 {
  font-size: 15px;
  color: rgb(139, 145, 135);
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Overpass", sans-serif;
  position:relative;
  top:10%;
}

.buttonBox {
  user-select: none;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  position:relative;
  top:10%;
}

/*
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: rgb(139, 145, 135);
  text-align: center;
  margin-top: 15%;
}*/

.star {
  width: 50px;
  height: 50px;
  background-color: hsl(215, 17%, 26%);
  border-radius: 50%;
  color: white;
  margin: 20px;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  border: none;
}

.star:hover {
  background-color: #7d8798;
  cursor: pointer;
}

.star:focus-within {
  background-color: rgb(255, 117, 15);
}

.starbutton {
  width: 50px;
  height: 50px;
  background-color: hsl(215, 17%, 26%);
  border-radius: 50%;
  margin: 20px;
  font-size: 15px;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.submit {
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 117, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
  position:relative;
  top:10%;  
}

.submit:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

.submit:active {
  color: rgb(255, 117, 15);
  background-color: white;
}


.footer {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  white-space: nowrap;
  color:white;
}

.pWrap p{
 color: rgb(255, 117, 15);
 font-size: 15px;
 font-family: "Overpass", sans-serif;
 margin: auto;
}

.pWrap{
  display: flex;
  align-items: center;
  margin-top:45%;
  position: absolute;
  border-radius: 20px;
  background-color: hsl(215, 17%, 26%);
  width: 40%;
  height: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.thyou{
  margin-top:60%;
  /*margin-left:3%;
  margin-right:3%;*/

}
.thyou p{
  color:white;
  font-size: 30px;
  font-family: "Overpass", sans-serif;
}
.thyou h2{
  text-align: center;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

.thankYou {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}