.holder {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 500px;
  position: relative;
}

.container {
  height: 500px;
  max-width:500px;
  width: 100%;
  background-color: hsl(216, 12%, 8%);
  border-radius: 10%;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.container h1 {
  font-size: 50px;
  color: white;
  padding-left: 25px;
  font-family: 'Overpass', sans-serif;
}

.container h2 {
  font-size: 15px;
  color: rgb(139, 145, 135);
  padding-left: 25px;
  font-family: 'Overpass', sans-serif;
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-align: center;
  margin-top: 15%;
}

.button {
  width: 50px;
  height: 50px;
  background-color: rgb(38, 47, 56);
  border-radius: 50%;
  color: white;
  margin: 20px;
  font-size: 15px;
}

.button:hover {
  background-color: #7d8798;
}

.button:active {
  background-color: rgb(255, 117, 15);
}

.starbutton {
  width: 50px;
  height: 50px;
  background-color: rgb(38, 47, 56);
  border-radius: 50%;
  margin: 20px;
  font-size: 15px;
  margin-bottom: auto;
  border-color: rgb(38, 47, 56);
}

.submit {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 117, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top:10%;   
}

.submit:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

.submit:active {
  color: rgb(255, 117, 15);
  background-color: white;
}
